<div class="ap-mt-10ap ap-rounded-lg ap-border ap-border-gray-300">
  <div
    class="ap-bg-gray-50 ap-p-[26px] ap-flex ap-items-center ap-justify-between ap-cursor-pointer"
    (click)="toggleDropdown(2)"
  >
    <div
      class="ap-Radio ap-h-6 ap-justify-start ap-items-center ap-gap-3 ap-inline-flex"
    >
      <div
        class="ap-w-5 ap-h-5 ap-border ap-border-blue-600 ap-rounded-full ap-relative"
      >
        <img src="assets/img/custom/extractors/Radio.svg" alt="" />
      </div>
      <div
        class="ap-Label ap-text-slate-700 ap-text-base ap-font-semibold ap-font-['Inter'] ap-leading-snug"
      >
        Define Key Values
      </div>
    </div>

    <!-- Button with chevron icon -->
    <button (click)="toggleDropdown(2)" class="ap-cursor-pointer">
      <img 
        [src]="dropdownStates[2] ? 'assets/img/custom/extractors/chevron-down.svg' : 'assets/img/custom/extractors/chevron-up.svg'" 
        alt="" 
        [ngClass]="{ 'ap-rotate-180': dropdownStates[2] }" 
        class="transition-transform duration-300"
      />
    </button>
  </div>

  <!-- Dropdown content -->
  <div
    class="ap-p-[26px] ap-flex ap-flex-col ap-gap-6"
    *ngIf="dropdownStates[2]"
  >
    <!-- Key List Header -->
    <div class="ap-flex ap-items-center ap-justify-between">
      <div
        class="ap-Label ap-text-black ap-text-lg ap-font-semibold ap-font-['Inter'] ap-leading-7"
      >
        Key List
      </div>
      <div class="ap-flex">
        <div
          class="ap-Text ap-text-blue-700 ap-text-sm ap-font-semibold ap-font-['Inter'] ap-leading-tight"
        >
          +
        </div>
        <div
          class="ap-Text ap-text-blue-700 ap-text-sm ap-font-semibold ap-font-['Inter'] ap-leading-tight"
        >
          New Key
        </div>
      </div>
    </div>

    <!-- Table Content -->
    <div class="ap-relative ap-overflow-x-auto ap-shadow-md ap-sm:rounded-lg">
      <table
        class="ap-w-full ap-text-sm ap-text-left ap-rtl:text-right ap-text-gray-500 ap-dark:text-gray-400"
      >
        <thead
          class="ap-text-xs ap-text-gray-700 ap-uppercase ap-bg-gray-50 ap-dark:bg-gray-700 ap-dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="ap-px-6 ap-py-3">Key Name</th>
            <th scope="col" class="ap-px-6 ap-py-3">Type</th>
            <th scope="col" class="ap-px-6 ap-py-3">Value</th>
            <th scope="col" class="ap-px-6 ap-py-3">Description</th>
            <th scope="col" class="ap-px-6 ap-py-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="ap-bg-white ap-border-b ap-dark:bg-gray-800 ap-dark:border-gray-700 ap-hover:bg-gray-50 ap-dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="ap-px-6 ap-font-medium ap-text-gray-900 ap-whitespace-nowrap ap-dark:text-white"
            >
              <input
                class="ap-border ap-border-gray-300 ap-h-[31px] ap-rounded-sm ap-px-3 ap-outline-none"
                placeholder="Lavatories"
              />
            </th>
            <td class="ap-px-6">
              <div class="ap-border ap-border-gray-300 ap-rounded-sm ap-px-3">
                <select class="ap-w-[124px] ap-h-[31px] ap-outline-none">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </td>
            <td class="ap-p-4 ap-flex ap-items-center">
              <div class="ap-flex ap-items-center">
                <input
                  id="checkbox-table-search-1"
                  type="checkbox"
                  class="ap-w-4 ap-h-4 ap-text-blue-600 ap-bg-gray-100 ap-border-gray-300 ap-rounded ap-focus:ring-blue-500 ap-dark:focus:ring-blue-600 ap-dark:ring-offset-gray-800 ap-dark:focus:ring-offset-gray-800 ap-focus:ring-2 ap-dark:bg-gray-700 ap-dark:border-gray-600"
                />
              </div>
              <div class="ap-px-2">More than one value</div>
            </td>
            <td class="ap-px-6">
              <input
                class="ap-border ap-border-gray-300 ap-h-[31px] ap-rounded-sm ap-px-3 ap-outline-none"
                placeholder="Enter a description..."
              />
            </td>

            <td class="ap-flex ap-items-center ap-px-6 ap-cursor-pointer">
              <img src="assets/img/custom/extractors/trash.svg" alt="" />
            </td>
          </tr>
          <!-- Repeat similar changes for other rows -->
        </tbody>
      </table>
    </div>
  </div>
</div>
